@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800,900");
body {
  font-family: "Roboto", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header-contact {
  background-color: #343a40;
  padding: 10px 0px;
}

#header-contact .contact li {
  padding-right: 10px;
}

#header-contact .contact li a {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#header-contact .contact li a i {
  padding-right: 6px;
}

#header-contact .social li {
  padding-left: 20px;
}

#header-contact .social li i {
  color: #fff;
}

#header-contact .userlogin {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.nav-item {
  font-size: small;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  color: #343a40;
}

.borderlist {
  position: relative;
}

.borderlist::before {
  content: "";
  position: absolute;
  left: 0;
  height: 20px;
  width: 0.5px;
  background-color: #fff;
}

li a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

li a i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

li a i:hover {
  color: #FFBC09 !important;
}

li a:hover {
  color: #FFBC09 !important;
}

.btn-warning {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-warning:hover {
  background-color: #d39e00 !important;
}

.alert {
  text-align: center;
  color: #fff;
  background-color: #f5576c;
  margin: 0 auto;
  font-weight: 700;
}

.alert a {
  color: #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.alert i {
  cursor: pointer;
}

.modal-content .container {
  padding-left: 0px;
}

.modal-content .container .row .col-lg-5 img {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100% !important;
}

.modal-content-pad {
  padding: 30px;
}

.different_login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #ddd;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.different_login span::before {
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
}

.login_footer a {
  float: right;
  color: #908f8f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border-color: #3b5998;
  padding: 12px 20px;
  margin-right: 6px;
}

.btn-facebook:hover {
  background-color: #344e86;
  border-color: #344e86;
  color: #fff;
}

.btn-google {
  background-color: #d85040;
  color: #fff;
  border-color: #d85040;
  padding: 12px 20px;
}

.btn-google:hover {
  background-color: #d33d2b;
  border-color: #d33d2b;
  color: #fff;
}

section {
  position: relative;
}

.carousel-inner img {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(255, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */