li {
  a {
    i {
      @include transition(all 0.5s);
      &:hover {
        color: $default-color !important;
      }
    }
    // color: $helper-color-white 
    @include transition(all 0.5s);
    &:hover {
      color: $default-color !important;
    }
  }
}

.btn-warning {
  @include transition(all 0.5s);
  &:hover {
    background-color: $background-color-button !important;
  }
}


