//////////////////////////////////////////////////////////////////////////////
li {
  a {
    i {
      @include transition(all 0.5s);
      &:hover {
        color: $default-color !important;
      }
    }
    
    @include transition(all 0.5s);
    &:hover {
      color: $default-color !important;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////

.btn-outline-secondary {
  
  color: $helper-color-white;
  border: 1px solid $helper-color-white;
  padding: 3px 10px;
  position: relative; 
  overflow: hidden;
    
    
    background: linear-gradient( to left, #ebebeb00 50%,     rgba(255, 255, 255, 0.979) 50% );
	background-size: 200% 100%;
	background-position: right bottom;
    cursor: pointer;
    transition: all ease .5s;
    
    &:hover {
        background-position: left bottom;
        color: $default-color;
        border: 1px solid $helper-color-white;
    }
}

/////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.btn-warning {
  @include transition(all 0.5s);
  &:hover {
    background-color: $background-color-button !important;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
.btn-warning {
  background-color: $default-color;
  color: $text-color-dark;
  border-color: $default-color;
  position: relative;
  overflow: hidden;
  padding: 3px 10px;

  &::before {
    content: "";    
    left: -40px;
    z-index: 10;
    height: 250px;
    width: 25px;
    top: -100px;
    transform: skewX(-35deg);
    background-color: rgba(221, 220, 220, 0.644);
    position: absolute;    
  }

  &:hover {
    color: $text-color-dark;   
    

    &::before {
      overflow: hidden;
      transform: skewX(-30deg);
      transform: translate(1000px, 500px);
      transition: 5s;
    }
    
    background-color: $background-color-button;
  }
}
//////////////////////////////////////////////////////////////////////////////////////