#chooseedu {
  background-color: #f7f7f7;
  padding-top: 100px;
  margin-bottom: 50px;
}

// .icon_box_style2 {
//   .box_icon {
//     border-radius: 100%;
//     display: inline-block;
//     padding: 20px;
//     position: relative;&::before{
//         content: "";
//         position: absolute;
//         left: 0;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         border: 3px solid #fff;
//         border-radius: 100%;
//         margin: 0px;
//         opacity: 0;
//         transition: all 0.2s ease-in-out;
//       }
//   }
// }
#chooseedu {
  .col-md-6 {
    margin-bottom: 50px;
  }
}

#chooseedu {
  .item {
    text-align: center;
    padding: 25px 30px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 30px #b8b5b5d3;
    box-shadow: 0 10px 30px #b8b5b5d3;
  }
}

#chooseedu {
  .item {
    .liticon {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      line-height: 90px;
      margin-bottom: 30px;
      display: inline-block;
      position: relative;
    }
  }
}

#chooseedu {
  .item {
    .liticon:after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      border: 4px solid #fff;
      height: 113px;
      width: 113px;
      border-radius: 100%;
    }
  }
}

#chooseedu {
  .item {
    .liticon {
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}

#chooseedu .item h3 {
    color: #292b2c;
  }
  
  #chooseedu .item p {
    color: #888888;
  }
  
  #chooseedu .col-md-4:nth-child(1) .liticon {
    background-color: #f5576c;
  }
  
  #chooseedu .col-md-4:nth-child(2) .liticon {
    background-color: #ffbc09;
  }
  
  #chooseedu .col-md-4:nth-child(3) .liticon {
    background-color: #b3d369;
  }
  

#chooseedu {
  .item {
    &:hover {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
      -webkit-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
    }
  }
}

#chooseedu .item:hover .liticon:after {
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

