.owl-carousel{
    position: relative;
}

.owl-nav{
    .owl-prev{
        span{
            position: absolute;
            /* height: 70px; */
            right: -30px;
            top: 45px;
        }
        
    }
    .owl-next{
        span{
        
        position: absolute;
        left: -25px;
        top: 50px;
    }

    }
        
}