#parallax {
  width: 100%;
  
  background-image: url(../img/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 350px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 41, 77, 0.7);
  }
  .item {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    color: white;

    img {
      margin: 25px 0 20px;
    }
  }
}
