//fonts
$font-family: 'Roboto',
sans-serif;


//colors
$background-color:#343a40;
$default-color:#FFBC09;
$helper-color-white: #fff;
$background-color-button:#d39e00;

//fonts size
$h1size: 32px;
$h2szie: 24px;
$h3size: 18.72px;
$h4size: 16px;
$h5size: 13.28px;
$h6size: 12px;
$text-size: 16px;
$span-size: 14px;



